{% extends "BlogBundle::layout.html.twig" %}

{% block content %}
    <div class="col-lg-6">
        <h1> Editar entrada </h1>

        {{form_start(form)}}
        <label>Etiquetas:</label>
        {{form_widget(form.tags, {'value':tags})}}
        {{form_end(form)}}
    </div>
        <div class="clearfix">
        </div>
{% endblock %}